# Local .terraform directories


# .tfstate files
./*.tfstate
./*.tfstate.*

./*.tfvars

./.terraform/


# Exclude Terraform variable files with sensitive data

./*.tfvars.json
./tf_output.json
./Nadine-dev-keypair2.pem

# Exclude CLI configuration files


# Ignore lock file if using modules across multiple environments
./.terraform.lock.hcl

.terraform/
**/.terraform/
*.tfstate
*.tfvars
